/* Home Container */
.prod-home-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 5px 10px;
    background-color: white;
}

/* Banner Section */
.prod-banner-image {
    width: 100%;
    box-sizing: border-box;
    border-radius: 50px;
}

.prod-banner-img {
    width: 100%;
    height: auto;
    display: block;
    box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.1);
}

/* Brand Section */
.prod-brand-section {
    text-align: center;
    margin: 5px 0;
    background: linear-gradient(to bottom, white, #fbf8f8);
    padding: 5px 25px;
    border-radius: 10px;
}

.prod-brand-heading {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}

.prod-brand-logos {
    display: flex;
    justify-content: center;
    padding-bottom: 0.5rem;
}

.prod-brand-logo {
    width: 50px;
    height: 50px;
    margin: 0 12px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.prod-brand-logo:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
}



/* Responsive Styles */
@media (max-width: 768px) {
    .prod-home-container {
        padding-left: 5%;
        padding-right: 5%;
    }

    

    .prod-card {
        padding: 12px;
    }

    .prod-image {
        max-height: 220px;
    }
}

@media (max-width: 480px) {
    .prod-details h2 {
        font-size: 1rem;
    }

    .prod-price {
        font-size: 1rem;
    }

    .prod-banner-img {
        height: auto;
    }
}

